<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="spawn_objects" default="true"/>
  <arg name="load_yaml_map" default="true"/>
  <arg name="sim_variant" default="0"/>
  <!--args passed to tiago_gazebo/tiago_gazebo.launch-->
  <arg name="world"  default="small_office_inventory"/>
    
  <param name="world_name" value="$(arg world)"/>


  <!--map,localization and transformation for robot/map -->
  <!--needed only when loading custom map.yaml files -->
  <group if="$(arg load_yaml_map)">
    <include file="$(find tiago_2dnav_gazebo)/launch/navigation.launch">
      <arg name="mapping"        value="gmapping"/>
      <arg name="global_planner" value="global_planner"/>
      <arg name="local_planner"  value="teb"/>
      <arg name="public_sim"     value="true"/>
      <arg name="config_base_path" value="$(find my_simulation)"/>
      <arg name="map" value="$(find mapping)/maps/$(arg world)"/>
    </include>
  </group>


  <!--tiago gazebo siumlation -->
  <include file="$(find my_simulation)/launch/tiago_gazebo.launch">
	  <arg name="world"  value="$(arg world)"/>
	  <arg name="robot"  value="iron"/>
	  <arg name="arm"  value="false"/>
	  <arg name="end_effector"  value="false"/>
	  <arg name="ft_sensor"  value="false"/>
	  <arg name="multi" value=""/>
	  <arg name="gui" value="true"/>
	  <arg name="debug" value="false"/>
	  <arg name="public_sim" value="true"/>  <!-- simulation doesn't work for public_sim=true -->
	  <arg name="tuck_arm" value="false"/>
	  <arg name="recording" value="false"/>
	  <arg name="extra_gazebo_args" value=""/>
	  <arg name="use_moveit_camera" value="false"/>
	  <arg name="use_dynamic_footprint" value="false"/>
  </include>
  
  <!--spawning additional objects in world -->
  <group if="$(arg spawn_objects)">
    <arg name="yaml" value="$(eval find('my_simulation')+'/params/'+arg('world')+'.yaml')"/>
    <rosparam file="$(arg yaml)" />
    <node pkg="my_simulation" type="spawn.py" name="spawn" output="screen" args="$(arg sim_variant)"/>
  </group>
  
  <!-- pointcloud to laserscan-->
  <include file="$(find tiago_laser_sensors)/launch/rgbd_cloud_laser.launch">
      <arg name="cloud" value="/xtion/depth_registered/points"/>
  </include>


</launch>
