<?xml version="1.0" encoding="UTF-8"?>

<launch>
        <!--arguments passed to my_simulation/my_simulation.launch -->
	<arg name="world"  default="small_office_inventory"/>
        <arg name="spawn_objects" default="true"/>

	<node pkg="pickup" type="pickup_objects.py" name="pickup_objects" output="screen" required="true"/>
	<rosparam file="$(find my_simulation)/params/$(arg world).yaml" />

	<include file="$(find my_simulation)/launch/my_simulation.launch" >
		<arg name="world"  value="$(arg world)" />
                <arg name="spawn_objects" value="$(arg spawn_objects)"/>
	</include>

	<node pkg="items_locating" type="find_object.py" name="find_object"/>
	<node pkg="path_finding" type="plan_path.py" name="plan_path" output="screen"/>
</launch>

